* {
    box-sizing: border-box;
}
body {
    font-family:'Times New Roman', Times, serif;    
}
main {
    margin: 30px auto 0;
    max-width:800px;
    width: 100%;
    background-color: #80808029;
}
header {
    background-color: #009688;
    padding: 15px;
    position: relative;
}
header input{
    display: inline-block;
    border: none;
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, .3);
    width: calc(100% - 15px);
    color: white;
    font-size: 20px;
}
header input:focus {
    outline: none;
}
header .plus {
    background-color: white;
    position: absolute;
    height: 43px;
    width: 43px;
    text-align: center;
    border-radius: 50%;
    line-height: 43px;
    color: #009688;
    cursor: pointer;
    font-size: 40px;
    font-weight: 700;
    right: 18px;
    transition: transform .5s;
}
header .plus:hover{
    transform: rotate(180deg);
}
.info-tasks {
    padding: 15px;
}
.info-tasks .no-tasks {
    color: #777;
    font-size: 17px;
}
.info-tasks > span {
    display: block;
    background-color: #fff;
    padding: 10px;
}
.info-tasks > span:not(:last-child){
    margin-bottom: 10px;
}
.info-tasks .task-box .delete {
    float: right;
    background-color: red;
    padding: 4px 10px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    color: white;
}
.info-tasks .task-box.finished {
    text-decoration: line-through;
}
footer {
    max-width: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px auto;
}
footer .completed, footer .all {
    padding: 10px;
}
footer .all span, footer .completed span {
    color: white;
    padding: 1px 5px;
    font-size: 11px;
    border-radius: 4px;
    font-weight: bold;
}
footer .all span {
    background-color: #e91E63;
}
footer .completed span {
    background-color: #03a9f4;
}